@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

/* NavBar Syles */
.header {
  @apply w-full absolute z-10 py-12 px-12;
}

.nav {
  @apply flex justify-between items-center;
}

.navbar__button {
  @apply hover:text-blue-600 transform hover:-translate-y-1 transition duration-300;
}

.nav_link__container {
  @apply flex flex-row space-x-4;
}

.nav__icon {
  @apply w-14 h-14 transition duration-300 transform hover:scale-105 hover-rainbow;
}
/* END */

/* Navbar animations */
@keyframes rainbowBackground {
  0% {
    color: red;
  }
  17% {
    color: orange;
  }
  34% {
    color: yellow;
  }
  51% {
    color: green;
  }
  68% {
    color: blue;
  }
  85% {
    color: indigo;
  }
  100% {
    color: violet;
  }
}

.hover-rainbow:hover {
  animation: rainbowBackground 1.2s infinite;
}
/* END */
