@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

/* NavBar Syles */
.header {
  @apply w-full  z-10 py-12 px-12;
}

.nav {
  @apply flex justify-between items-center;
}

.navbar__button {
  @apply hover:text-blue-600 transform hover:-translate-y-1 transition duration-300;
}

.nav_link__container {
  @apply flex flex-row space-x-4;
}

.nav__icon {
  @apply w-14 h-14 transition duration-300 transform hover:scale-105 hover-rainbow;
}
/* END */

/* Navbar animations */
@keyframes rainbowBackground {
  0% {
    color: red;
  }
  17% {
    color: orange;
  }
  34% {
    color: yellow;
  }
  51% {
    color: green;
  }
  68% {
    color: blue;
  }
  85% {
    color: indigo;
  }
  100% {
    color: violet;
  }
}

.hover-rainbow:hover {
  animation: rainbowBackground 1.2s infinite;
}
/* END */

/* Main Styles */

.circle__container {
  @apply flex relative justify-center items-center text-center w-full;
}

.top__circle {
  @apply absolute rounded-full -left-36 top-1/4 transform -translate-y-1/2 bg-circle-gradient-t opacity-65 z-0  w-56 md:w-64 md:h-64 lg:w-80 h-56 lg:h-80;
}

.mid__circle {
  @apply relative w-72 md:w-96 md:h-96 lg:w-512 h-72 lg:h-512 rounded-full bg-circle-gradient-l opacity-65 z-10;
}

.bottom__circle {
  @apply absolute top-56 left-48 h-64 w-64  md:w-80 lg:w-96 md:h-80 lg:h-96  rounded-full -right-56 md:-right-40 md:top-72  lg:top-96 lg:left-96  transform -translate-y-1/2 bg-circle-gradient-r  opacity-65 z-0;
}

.main__text {
  @apply absolute font-bold text-4xl md:text-5xl lg:text-7xl z-20 w-[500px] lg:w-[950px];
}

/* END */

/* Card Styles */

@keyframes pinchEffect {
  0%,
  100% {
    border-radius: 50%;
  }
  50% {
    border-radius: 10px 40%/ 20px 30px;
    transform: scaleY(1.2);
  }
}

.wave__pattern {
  --mask: radial-gradient(
        5.5px at 50% calc(100% + 1.8px),
        #0000 calc(99% - 4px),
        #000 calc(101% - 4px) 99%,
        #0000 101%
      )
      calc(50% - 6px) calc(50% - 3.5px + 0.5px) / 12px 7px,
    radial-gradient(
        5.5px at 50% -1.8px,
        #0000 calc(99% - 4px),
        #000 calc(101% - 4px) 99%,
        #0000 101%
      )
      50% calc(50% + 3.5px) / 12px 7px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.circle {
  animation: pinchEffect 4s infinite ease-in-out;
}

.pentagon {
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

/* END */
