@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0c0c;
  color: white;
}

/* NavBar Syles */
.header {
  @apply w-full  z-10 py-12 px-12;
}

.nav {
  @apply flex justify-between items-center;
}

.navbar__button {
  @apply hover:text-blue-600 transform hover:-translate-y-1 transition duration-300;
}

.nav_link__container {
  @apply flex flex-row space-x-4;
}

.nav__icon {
  @apply w-14 h-14 transition duration-300 transform hover:scale-105 hover-rainbow;
}
/* END */

/* Navbar animations */
@keyframes rainbowBackground {
  0% {
    color: red;
  }
  17% {
    color: orange;
  }
  34% {
    color: yellow;
  }
  51% {
    color: green;
  }
  68% {
    color: blue;
  }
  85% {
    color: indigo;
  }
  100% {
    color: violet;
  }
}

.hover-rainbow:hover {
  animation: rainbowBackground 1.2s infinite;
}
/* END */

/* Main Styles */

.circle__container {
  @apply flex relative justify-center items-center text-center w-full;
}

.top__circle {
  @apply absolute rounded-full -left-36 top-1/4 transform -translate-y-1/2 bg-circle-gradient-t opacity-65 z-0  w-56 md:w-64 md:h-64 lg:w-80 h-56 lg:h-80;
}

.mid__circle {
  @apply relative w-72 md:w-96 md:h-96 lg:w-512 h-72 lg:h-512 rounded-full bg-circle-gradient-l opacity-65 z-10;
}

.bottom__circle {
  @apply absolute top-56 left-48 h-64 w-64  md:w-80 lg:w-96 md:h-80 lg:h-96  rounded-full -right-56 md:-right-40 md:top-72  lg:top-96 lg:left-96  transform -translate-y-1/2 bg-circle-gradient-r  opacity-65 z-0;
}

.main__text {
  @apply font-semibold absolute text-4xl md:text-5xl lg:text-7xl z-20 w-[500px] lg:w-[950px];
}

/* END */

/* Card Styles */
.card__container {
  @apply relative w-[350px] h-[450px] lg:w-[450px] lg:h-[600px] rounded-lg mt-20 lg:mt-0;
}

/* END */

/* Bubble effect */
.bubble {
  border-radius: 50%;
  animation: float 12s cubic-bezier(0.3, 0.4, 0.5, 0.6) infinite,
    sideWays 10s cubic-bezier(0.3, 0.4, 0.5, 0.6) infinite,
    morphShape 14s cubic-bezier(0.3, 0.4, 0.5, 0.6) infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes sideWays {
  0%,
  100% {
    transform: translateX(0) scale(1);
  }
  10%,
  90% {
    transform: translateX(5px) scale(1.02);
  }
  25%,
  75% {
    transform: translateX(-10px) scale(1.04);
  }
  50% {
    transform: translateX(10px) scale(0.98);
  }
}

@keyframes morphShape {
  0%,
  100% {
    border-radius: 85% 59% 74% 72% / 78% 83% 90% 82%;
    transform: scale(1.01) rotate(0deg);
  }
  10%,
  90% {
    border-radius: 67% 33% 47% 53% / 51% 49% 51% 49%;
    transform: scale(1.02) rotate(3deg);
  }
  25%,
  75% {
    border-radius: 77% 23% 63% 37% / 44% 69% 31% 56%;
    transform: scale(0.99) rotate(-3deg);
  }
  50% {
    border-radius: 54% 46% 58% 42% / 47% 66% 34% 53%;
    transform: scale(1.01) rotate(0deg);
  }
}

/* END */
